/* set CSS style so that the divs create a X by X grid */
/* How to ensure that the squares resize to always be an X by X grid? */
.gridContainer {
    height: 960 px;
    width: 960 px;
    background-color: beige;
    flex: 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    height: 56px;
    width: 56px;
    border: 2px solid blue;
    background-color: aqua;
    flex: 0 0 auto;
}